*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.container{
    width: 1180px;
    margin: 0 auto;
}
header{
    height: 70px;
    width: 100%;
    background-color: #3161E0;
    text-align: center; 
}
#logo{
    vertical-align: middle;
    display: inline-block;
    float: left;
    margin:20px;
}
li{
    display: inline-block;
    
}
a{
    color:white;
    text-decoration: none;
    margin: 0 10px;
    line-height: 70px;
}
.btn-header{
    float: right;
    margin:20px;
    padding 30px;
    border-radius: 15px;
    padding: 10px;
    border:  #3161E0;
}
.btn-header:hover{
    box-shadow: 2px 2px rgba(0, 20, 300, 0.5);
    cursor: pointer;
}
.jumbo{
    background-size: cover;
    min-height: 600px;
    width: 100%;
    background-image: url(../img/jumbo.png);
}
.titolo{
    padding-top: 200px;
    line-height: 150px;
    font-size: 70px;
    text-align: center;
    color:white;
}
.text{
    font-size: 30px;
    color: white;
    margin: 0 20%;
}
.btn{
    border-radius: 15px;
    padding: 10px;
    width: 20%;
    border: none;
    cursor: pointer;
}
.bottoni{
    margin-left: 33% ;
}
form{
    display:inline;
}
.white{
    background-color: white;
    margin:10px 20px;
}
i{
    margin-right: 10px;
}
.black{
    background-color: black;
    color:white;
}
.container1{
    position: relative;
    
}
.img-gruppi{
    float: left;
    width: 40%;
    top: 40px;
    left: 40px;
}
.testo-dx{
    width: 40%;
    float: left;
    margin-top: 50px;
    margin-left: 20%;
}

.titolo-grp{
    font-size: 50px;
}
.text-grp{
    font-size: 40px;
}
.img-trovarsi{
    float: right;
    width: 40%;
    margin-right:20% ;
    top: 50px;
}
.testo-sx{
    width: 40%;
    float: right;
    margin-top: 50px;
}
.onda{
    opacity: 0.1;
    height: 100%;
    width: 100%;
    background-image: url(../img/wave.svg);
    position: absolute;
}
.foto3{
    margin-top: 100px;

}

